# Ignore datasets
data/*.csv
data/*.xlsx
data/*.json

# Ignore Pickle models
model/*.pkl

# Ignore all files in data
data/*

# EXCEPT README.md
!data/README.md

# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
env/

# Streamlit cache
.streamlit/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# feedback
feedback/

logs/
